<div class="banner-slider banner-slider1 bg-slider">
    <div class="wrap-item" data-transition="fade" data-pagination="false" data-navigation="true" data-itemscustom="[[0,1]]">
        @*<div class="item-slider item-slider1">
            <div class="banner-thumb"><a href="#"><img src="~/forntEnd/images/home/home1/slide1.jpg" alt="" /></a></div>
            <div class="banner-info animated" data-animated="bounceIn">
                <div class="text-center white text-uppercase">
                    <h3 class="title30">save on all products</h3>
                    <h2 class="title120 font-bold animated" data-animated="flash">45<span class="title90">% Off</span></h2>
                    <h4 class="title18"> when you purchase 2 or more items*</h4>
                    <a href="#" class="btn-arrow white">Shop now</a>
                </div>
            </div>
        </div>
        <div class="item-slider item-slider1">
            <div class="banner-thumb"><a href="#"><img src="~/forntEnd/images/home/home1/slide2.jpg" alt="" /></a></div>
            <div class="banner-info animated" data-animated="bounceIn">
                <div class="text-center white text-uppercase">
                    <h3 class="title30">fruit Oraganic food</h3>
                    <h2 class="title120 font-bold animated" data-animated="flash">big sale</h2>
                    <h4 class="title18">up to 30% off on all products</h4>
                    <a href="#" class="btn-arrow white">Shop now</a>
                </div>
            </div>
        </div>
        <div class="item-slider item-slider1">
            <div class="banner-thumb"><a href="#"><img src="~/forntEnd/images/home/home1/slide3.jpg" alt="" /></a></div>
            <div class="banner-info animated" data-animated="bounceIn">
                <div class="text-center white text-uppercase">
                    <h3 class="title30">mega sale on fruit category</h3>
                    <h2 class="title120 font-bold animated" data-animated="flash">up to <span class="title90">35% off</span></h2>
                    <h4 class="title18">limited quantities only in the first week of September</h4>
                    <a href="#" class="btn-arrow white">Shop now</a>
                </div>
            </div>
        </div>*@
        @Html.Raw(ViewBag.banner)
        
    </div>
</div>
