<div class="list-brand">
    <div class="container">
        <div class="brand-slider">
            <div class="wrap-item" data-pagination="false" data-autoplay="true" data-itemscustom="[[0,2],[480,3],[768,4],[990,5]]">
                @Html.Raw(ViewBag.manufacture)
                @*<div class="item-brand">
                    <a href="#" class="pulse-grow"><img src="~/forntEnd/images/home/home1/br2.png" alt="" /></a>
                </div>
                <div class="item-brand">
                    <a href="#" class="pulse-grow"><img src="~/forntEnd/images/home/home1/br3.png" alt="" /></a>
                </div>
                <div class="item-brand">
                    <a href="#" class="pulse-grow"><img src="~/forntEnd/images/home/home1/br4.png" alt="" /></a>
                </div>
                <div class="item-brand">
                    <a href="#" class="pulse-grow"><img src="~/forntEnd/images/home/home1/br5.png" alt="" /></a>
                </div>
                <div class="item-brand">
                    <a href="#" class="pulse-grow"><img src="~/forntEnd/images/home/home1/br1.png" alt="" /></a>
                </div>
                <div class="item-brand">
                    <a href="#" class="pulse-grow"><img src="~/forntEnd/images/home/home1/br2.png" alt="" /></a>
                </div>
                <div class="item-brand">
                    <a href="#" class="pulse-grow"><img src="~/forntEnd/images/home/home1/br3.png" alt="" /></a>
                </div>
                <div class="item-brand">
                    <a href="#" class="pulse-grow"><img src="~/forntEnd/images/home/home1/br4.png" alt="" /></a>
                </div>
                <div class="item-brand">
                    <a href="#" class="pulse-grow"><img src="~/forntEnd/images/home/home1/br5.png" alt="" /></a>
                </div>*@
            </div>
        </div>
    </div>
</div>
