<div class="list-adv1">
    <h2 class="title30 font-bold title-box1 text-center">Super Offer</h2>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="item-adv1 overlay-image banner-adv zoom-out">
                <a href="#" class="adv-thumb-link">
                    <img src="~/forntEnd/images/home/home1/ad1-1.jpg" alt="" />
                    <img src="~/forntEnd/images/home/home1/ad1-2.jpg" alt="" />
                </a>
                <div class="banner-info ver white text-center">
                    <h2 class="title30 title-underline">Orange Fruit </h2>
                    <h2 class="title30 font-bold">€ 180.00</h2>
                    <a href="#" class="btn-arrow white">Shop now</a>
                </div>
            </div>
        </div>
        <div class="hidden-lg hidden-md col-sm-6 col-xs-6">
            <div class="item-adv1 banner-adv overlay-image zoom-image">
                <a href="#" class="adv-thumb-link">
                    <img src="~/forntEnd/images/home/home1/ad4.jpg" alt="" />
                </a>
                <div class="banner-info ver white text-center">
                    <h2 class="title30 title-underline">Hand Pain</h2>
                    <h2 class="title30 font-bold">€ 220.00</h2>
                    <a href="#" class="btn-arrow white">Shop now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-6">
                    <div class="item-adv1 banner-adv overlay-image zoom-rotate">
                        <a href="#" class="adv-thumb-link">
                            <img src="~/forntEnd/images/home/home1/ad2.jpg" alt="" />
                        </a>
                        <div class="banner-info hoz white text-center">
                            <h2 class="title30">Up to <strong>70% Off</strong></h2>
                            <a href="#" class="btn-arrow white">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-6 col-xs-6">
                    <div class="item-adv1 banner-adv overlay-image zoom-rotate">
                        <a href="#" class="adv-thumb-link">
                            <img src="~/forntEnd/images/home/home1/ad3.jpg" alt="" />
                        </a>
                        <div class="banner-info hoz white text-center">
                            <h2 class="title30">Sale <strong>50% Off</strong></h2>
                            <a href="#" class="btn-arrow white">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs">
            <div class="item-adv1 banner-adv overlay-image zoom-image">
                <a href="#" class="adv-thumb-link">
                    <img src="~/forntEnd/images/home/home1/ad4.jpg" alt="" />
                </a>
                <div class="banner-info ver white text-center">
                    <h2 class="title30 title-underline">Hand Pain</h2>
                    <h2 class="title30 font-bold">€ 220.00</h2>
                    <a href="#" class="btn-arrow white">Shop now</a>
                </div>
            </div>
        </div>
    </div>
</div>
