<div class="product-bestsale">
    <h2 class="title30 font-bold title-box1 text-center">Best Sellers Products</h2>
    <ul class="text-center title-tab1 list-inline-block">
        <li class="active"><a href="#tab1" data-toggle="tab">All</a></li>
        <li><a href="#tab2" data-toggle="tab">Dried Products</a></li>
        <li><a href="#tab1" data-toggle="tab">Fruits</a></li>
        <li><a href="#tab2" data-toggle="tab">Juice</a></li>
        <li><a href="#tab1" data-toggle="tab">Vegetables</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab1" class="tab-pane active">
            <div class="product-slider line-white product-slider1">
                <div class="wrap-item" data-pagination="false" data-navigation="true" data-itemscustom="[[0,1],[560,2],[768,3],[990,4]]">
                    <div class="item-product item-product1 text-center">
                        <div class="product-thumb">
                            <a href="Home/detail" class="product-thumb-link rotate-thumb">
                                <img src="~/forntEnd/images/product/fruit_32.jpg" alt="">
                                <img src="~/forntEnd/images/product/fruit_33.jpg" alt="">
                            </a>
                            <a href="Home/quick_view" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="Home/detail">Fresh Meal Kit</a></h3>
                            <div class="product-price">
                                <ins class="color"><span>€30.000</span></ins>
                            </div>
                            <div class="product-rate">
                                <div class="product-rating" style="width:100%"></div>
                            </div>
                            <div class="product-extra-link">
                                <a href="#" class="wishlist-link"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wishlist</span></a>
                                <a href="#" class="addcart-link">Add to cart</a>
                                <a href="#" class="compare-link"><i class="fa fa-compress" aria-hidden="true"></i><span>Compare</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Item -->
                    <div class="item-product item-product1 text-center">
                        <div class="product-thumb">
                            <a href="Home/detail" class="product-thumb-link rotate-thumb">
                                <img src="~/forntEnd/images/product/fruit_35.jpg" alt="">
                                <img src="~/forntEnd/images/product/fruit_36.jpg" alt="">
                            </a>
                            <a href="Home/quick_view" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="Home/detail">Apetito Pure Fruit Juice</a></h3>
                            <div class="product-price">
                                <del class="silver"><span>€470.00</span></del>
                                <ins class="color"><span>€450.000</span></ins>
                            </div>
                            <div class="product-rate">
                                <div class="product-rating" style="width:100%"></div>
                            </div>
                            <div class="product-extra-link">
                                <a href="#" class="wishlist-link"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wishlist</span></a>
                                <a href="#" class="addcart-link">Add to cart</a>
                                <a href="#" class="compare-link"><i class="fa fa-compress" aria-hidden="true"></i><span>Compare</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Item -->
                    <div class="item-product item-product1 text-center">
                        <div class="product-thumb">
                            <a href="Home/detail" class="product-thumb-link rotate-thumb">
                                <img src="~/forntEnd/images/product/fruit_13.jpg" alt="">
                                <img src="~/forntEnd/images/product/fruit_12.jpg" alt="">
                            </a>
                            <a href="Home/quick_view" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="Home/detail">Aurore Grape</a></h3>
                            <div class="product-price">
                                <ins class="color"><span>€290.000</span></ins>
                            </div>
                            <div class="product-rate">
                                <div class="product-rating" style="width:100%"></div>
                            </div>
                            <div class="product-extra-link">
                                <a href="#" class="wishlist-link"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wishlist</span></a>
                                <a href="#" class="addcart-link">Add to cart</a>
                                <a href="#" class="compare-link"><i class="fa fa-compress" aria-hidden="true"></i><span>Compare</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Item -->
                    <div class="item-product item-product1 text-center">
                        <div class="product-thumb">
                            <a href="Home/detail" class="product-thumb-link rotate-thumb">
                                <img src="~/forntEnd/images/product/fruit_10.jpg" alt="">
                                <img src="~/forntEnd/images/product/fruit_18.jpg" alt="">
                            </a>
                            <a href="Home/quick_view" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="Home/detail">Fresh Meal Kit</a></h3>
                            <div class="product-price">
                                <del class="silver"><span>€630.00</span></del>
                                <ins class="color"><span>€170.000</span></ins>
                            </div>
                            <div class="product-rate">
                                <div class="product-rating" style="width:100%"></div>
                            </div>
                            <div class="product-extra-link">
                                <a href="#" class="wishlist-link"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wishlist</span></a>
                                <a href="#" class="addcart-link">Add to cart</a>
                                <a href="#" class="compare-link"><i class="fa fa-compress" aria-hidden="true"></i><span>Compare</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Item -->
                    <div class="item-product item-product1 text-center">
                        <div class="product-thumb">
                            <a href="Home/detail" class="product-thumb-link rotate-thumb">
                                <img src="~/forntEnd/images/product/fruit_11.jpg" alt="">
                                <img src="~/forntEnd/images/product/fruit_27.jpg" alt="">
                            </a>
                            <a href="Home/quick_view" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="Home/detail">Fresh Meal Kit</a></h3>
                            <div class="product-price">
                                <del class="silver"><span>€630.00</span></del>
                                <ins class="color"><span>€170.000</span></ins>
                            </div>
                            <div class="product-rate">
                                <div class="product-rating" style="width:100%"></div>
                            </div>
                            <div class="product-extra-link">
                                <a href="#" class="wishlist-link"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wishlist</span></a>
                                <a href="#" class="addcart-link">Add to cart</a>
                                <a href="#" class="compare-link"><i class="fa fa-compress" aria-hidden="true"></i><span>Compare</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Item -->
                    <div class="item-product item-product1 text-center">
                        <div class="product-thumb">
                            <a href="Home/detail" class="product-thumb-link rotate-thumb">
                                <img src="~/forntEnd/images/product/fruit_01.jpg" alt="">
                                <img src="~/forntEnd/images/product/fruit_04.jpg" alt="">
                            </a>
                            <a href="Home/quick_view" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="Home/detail">Fresh Meal Kit</a></h3>
                            <div class="product-price">
                                <del class="silver"><span>€630.00</span></del>
                                <ins class="color"><span>€170.000</span></ins>
                            </div>
                            <div class="product-rate">
                                <div class="product-rating" style="width:100%"></div>
                            </div>
                            <div class="product-extra-link">
                                <a href="#" class="wishlist-link"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wishlist</span></a>
                                <a href="#" class="addcart-link">Add to cart</a>
                                <a href="#" class="compare-link"><i class="fa fa-compress" aria-hidden="true"></i><span>Compare</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Item -->
                </div>
            </div>
        </div>
        <!-- End Tab -->
        <div id="tab2" class="tab-pane">
            <div class="product-slider line-white product-slider1">
                <div class="wrap-item" data-pagination="false" data-navigation="true" data-itemscustom="[[0,1],[560,2],[768,3],[990,4]]">
                    <div class="item-product item-product1 text-center">
                        <div class="product-thumb">
                            <a href="Home/detail" class="product-thumb-link rotate-thumb">
                                <img src="~/forntEnd/images/product/fruit_01.jpg" alt="">
                                <img src="~/forntEnd/images/product/fruit_02.jpg" alt="">
                            </a>
                            <a href="Home/quick_view" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="Home/detail">Fresh Meal Kit</a></h3>
                            <div class="product-price">
                                <ins class="color"><span>€30.000</span></ins>
                            </div>
                            <div class="product-rate">
                                <div class="product-rating" style="width:100%"></div>
                            </div>
                            <div class="product-extra-link">
                                <a href="#" class="wishlist-link"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wishlist</span></a>
                                <a href="#" class="addcart-link">Add to cart</a>
                                <a href="#" class="compare-link"><i class="fa fa-compress" aria-hidden="true"></i><span>Compare</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Item -->
                    <div class="item-product item-product1 text-center">
                        <div class="product-thumb">
                            <a href="Home/detail" class="product-thumb-link rotate-thumb">
                                <img src="~/forntEnd/images/product/fruit_03.jpg" alt="">
                                <img src="~/forntEnd/images/product/fruit_04.jpg" alt="">
                            </a>
                            <a href="Home/quick_view" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="Home/detail">Apetito Pure Fruit Juice</a></h3>
                            <div class="product-price">
                                <del class="silver"><span>€470.00</span></del>
                                <ins class="color"><span>€450.000</span></ins>
                            </div>
                            <div class="product-rate">
                                <div class="product-rating" style="width:100%"></div>
                            </div>
                            <div class="product-extra-link">
                                <a href="#" class="wishlist-link"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wishlist</span></a>
                                <a href="#" class="addcart-link">Add to cart</a>
                                <a href="#" class="compare-link"><i class="fa fa-compress" aria-hidden="true"></i><span>Compare</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Item -->
                    <div class="item-product item-product1 text-center">
                        <div class="product-thumb">
                            <a href="Home/detail" class="product-thumb-link rotate-thumb">
                                <img src="~/forntEnd/images/product/fruit_05.jpg" alt="">
                                <img src="~/forntEnd/images/product/fruit_06.jpg" alt="">
                            </a>
                            <a href="Home/quick_view" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="Home/detail">Aurore Grape</a></h3>
                            <div class="product-price">
                                <ins class="color"><span>€290.000</span></ins>
                            </div>
                            <div class="product-rate">
                                <div class="product-rating" style="width:100%"></div>
                            </div>
                            <div class="product-extra-link">
                                <a href="#" class="wishlist-link"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wishlist</span></a>
                                <a href="#" class="addcart-link">Add to cart</a>
                                <a href="#" class="compare-link"><i class="fa fa-compress" aria-hidden="true"></i><span>Compare</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Item -->
                    <div class="item-product item-product1 text-center">
                        <div class="product-thumb">
                            <a href="Home/detail" class="product-thumb-link rotate-thumb">
                                <img src="~/forntEnd/images/product/fruit_07.jpg" alt="">
                                <img src="~/forntEnd/images/product/fruit_08.jpg" alt="">
                            </a>
                            <a href="Home/quick_view" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="Home/detail">Fresh Meal Kit</a></h3>
                            <div class="product-price">
                                <del class="silver"><span>€630.00</span></del>
                                <ins class="color"><span>€170.000</span></ins>
                            </div>
                            <div class="product-rate">
                                <div class="product-rating" style="width:100%"></div>
                            </div>
                            <div class="product-extra-link">
                                <a href="#" class="wishlist-link"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wishlist</span></a>
                                <a href="#" class="addcart-link">Add to cart</a>
                                <a href="#" class="compare-link"><i class="fa fa-compress" aria-hidden="true"></i><span>Compare</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Item -->
                    <div class="item-product item-product1 text-center">
                        <div class="product-thumb">
                            <a href="Home/detail" class="product-thumb-link rotate-thumb">
                                <img src="~/forntEnd/images/product/fruit_09.jpg" alt="">
                                <img src="~/forntEnd/images/product/fruit_10.jpg" alt="">
                            </a>
                            <a href="Home/quick_view" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="Home/detail">Fresh Meal Kit</a></h3>
                            <div class="product-price">
                                <del class="silver"><span>€630.00</span></del>
                                <ins class="color"><span>€170.000</span></ins>
                            </div>
                            <div class="product-rate">
                                <div class="product-rating" style="width:100%"></div>
                            </div>
                            <div class="product-extra-link">
                                <a href="#" class="wishlist-link"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wishlist</span></a>
                                <a href="#" class="addcart-link">Add to cart</a>
                                <a href="#" class="compare-link"><i class="fa fa-compress" aria-hidden="true"></i><span>Compare</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Item -->
                    <div class="item-product item-product1 text-center">
                        <div class="product-thumb">
                            <a href="Home/detail" class="product-thumb-link rotate-thumb">
                                <img src="~/forntEnd/images/product/fruit_11.jpg" alt="">
                                <img src="~/forntEnd/images/product/fruit_12.jpg" alt="">
                            </a>
                            <a href="Home/quick_view" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="Home/detail">Fresh Meal Kit</a></h3>
                            <div class="product-price">
                                <del class="silver"><span>€630.00</span></del>
                                <ins class="color"><span>€170.000</span></ins>
                            </div>
                            <div class="product-rate">
                                <div class="product-rating" style="width:100%"></div>
                            </div>
                            <div class="product-extra-link">
                                <a href="#" class="wishlist-link"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wishlist</span></a>
                                <a href="#" class="addcart-link">Add to cart</a>
                                <a href="#" class="compare-link"><i class="fa fa-compress" aria-hidden="true"></i><span>Compare</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Item -->
                </div>
            </div>
        </div>
        <!-- End Tab -->
    </div>
</div>
